In [13]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('adult.data.csv')

In [3]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [5]:
df.shape

(32561, 15)

In [11]:
race_count =  df.groupby(['race'])['race'].count();

In [12]:
race_count

race
Amer-Indian-Eskimo      311
Asian-Pac-Islander     1039
Black                  3124
Other                   271
White                 27816
Name: race, dtype: int64

In [36]:
number_men = df[df.sex == 'Male']['sex'].count()

In [37]:
number_men

21790

In [38]:
sum_age_men = df[df.sex == 'Male']['age'].sum()

In [39]:
sum_age_men

859257

In [40]:
average_age_men = sum_age_men / number_men

In [41]:
average_age_men

39.43354749885268

In [44]:
number_bachelors = df[df.education == 'Bachelors'].education.count()

In [45]:
number_bachelors

5355

In [46]:
df.sex.unique()

array(['Male', 'Female'], dtype=object)

In [50]:
total_number_people = df['sex'].count()

In [51]:
total_number_people

32561

In [54]:
percentage_bachelors = round((number_bachelors / total_number_people)*100,1)

In [55]:
percentage_bachelors

16.4

In [57]:
df.education.unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [67]:
#  people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) ?
people_with_advanced_education = df[ (df.education == 'Bachelors') | (df.education == 'Masters') | (df.education == 'Doctorate') ].education.count()

In [68]:
people_with_advanced_education

7491

In [96]:
#  people  earning more than 50K?
peopleA_with_more_than_50k = df[ (df.education == 'Bachelors') | (df.education == 'Masters') | (df.education == 'Doctorate') ][df.salary == '>50K'].salary.count();

C:\Users\MAX01010\AppData\Local\Temp\ipykernel_14268\1010330781.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  peopleA_with_more_than_50k = df[ (df.education == 'Bachelors') | (df.education == 'Masters') | (df.education == 'Doctorate') ][df.salary == '>50K'].salary.count();

In [85]:
peopleA_with_more_than_50k

3486

In [86]:
higher_education_rich = round(( peopleA_with_more_than_50k/ people_with_advanced_education)*100,1)

In [87]:
higher_education_rich

46.5

In [91]:
people_without_advanced_education = df['sex'].count() - people_with_advanced_education
people_without_advanced_education

25070

In [98]:
people_without_advanced_education_50K = df[ (df.education == 'HS-grad') | (df.education == '11th') | (df.education == '9th') |(df.education == 'Some-college') |(df.education == 'Assoc-acdm') | (df.education == 'Assoc-voc') |(df.education == '7th-8th') |(df.education == 'Prof-school') | (df.education == '5th-6th') | (df.education == '10th') |(df.education == '1st-4th') | (df.education == 'Preschool') |(df.education == '12th') ][df.salary == '>50K'].salary.count();

C:\Users\MAX01010\AppData\Local\Temp\ipykernel_14268\1937002088.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  people_without_advanced_education_50K = df[ (df.education == 'HS-grad') | (df.education == '11th') | (df.education == '9th') |(df.education == 'Some-college') |(df.education == 'Assoc-acdm') | (df.education == 'Assoc-voc') |(df.education == '7th-8th') |(df.education == 'Prof-school') | (df.education == '5th-6th') | (df.education == '10th') |(df.education == '1st-4th') | (df.education == 'Preschool') |(df.education == '12th') ][df.salary == '>50K'].salary.count();

In [99]:
people_without_advanced_education_50K

4355

In [100]:
lower_education_rich = round(( people_without_advanced_education_50K/ people_without_advanced_education)*100,1)

In [101]:
lower_education_rich

17.4

In [102]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [105]:
min_work_hours = df['hours-per-week'].min();

In [106]:
min_work_hours

1

In [122]:
 # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    #number of people who work the minimum number of hours per week
num_min_workers = df[df['hours-per-week'] == min_work_hours].age.count()

In [123]:
num_min_workers

20

In [129]:
num_min_workers_50k = df[df['hours-per-week'] == min_work_hours][df.salary == '>50K'].salary.count()

C:\Users\MAX01010\AppData\Local\Temp\ipykernel_14268\3782050414.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  num_min_workers_50k = df[df['hours-per-week'] == min_work_hours][df.salary == '>50K'].salary.count()

In [130]:
num_min_workers_50k

2

In [131]:
rich_percentage = round((num_min_workers_50k / num_min_workers)*100,1)

In [132]:
rich_percentage

10.0

In [172]:
df_country_50K = df[df.salary == '>50K'].groupby(['native-country'])['native-country'].count()

In [173]:
df_country_50K

native-country
?                      146
Cambodia                 7
Canada                  39
China                   20
Columbia                 2
Cuba                    25
Dominican-Republic       2
Ecuador                  4
El-Salvador              9
England                 30
France                  12
Germany                 44
Greece                   8
Guatemala                3
Haiti                    4
Honduras                 1
Hong                     6
Hungary                  3
India                   40
Iran                    18
Ireland                  5
Italy                   25
Jamaica                 10
Japan                   24
Laos                     2
Mexico                  33
Nicaragua                2
Peru                     2
Philippines             61
Poland                  12
Portugal                 4
Puerto-Rico             12
Scotland                 3
South                   16
Taiwan                  20
Thailand                 3
Trinadad&Tobago          2
United-States         7171
Vietnam                  5
Yugoslavia               6
Name: native-country, dtype: int64

In [149]:
highest_earning_country = df_country_50K[df_country_50K == df_country_50K.max() ];

In [153]:
highest_earning_country

native-country
United-States    7171
Name: native-country, dtype: int64

In [156]:
highest_earning_country_percentage = round((df_country_50K.max() / df[df.salary == '>50K']['salary'].count())*100,1)

In [157]:
highest_earning_country_percentage

91.5

In [166]:
# Occupation of Indian who earn more than 50K with their respective count
india_occupation_df = df[(df.salary == '>50K') & (df['native-country'] == 'India')].groupby('occupation')['occupation'].count()

In [167]:
india_occupation_df

occupation
Adm-clerical         1
Exec-managerial      8
Other-service        2
Prof-specialty      25
Sales                1
Tech-support         2
Transport-moving     1
Name: occupation, dtype: int64

In [171]:
# Identify the most popular occupation for those who earn >50K in India.
india_occupation_df[india_occupation_df == india_occupation_df.max()]

occupation
Prof-specialty    25
Name: occupation, dtype: int64